<div class="step" id="step-ipl">
        <h2>3/3. Инновации</h2>
        <div class="instruction">
            <p>Вашему вниманию предлагается ряд высказываний, каждое из которых необходимо отнести к себе и решить, в какой мере оно описывает Вашу жизненную позицию.</p>
            <p>Варианты ответов:</p>
            <ul><li><b>1</b> — Не согласен</li><li><b>2</b> — Скорее не согласен</li><li><b>3</b> — Сложно сказать</li><li><b>4</b> — Скорее согласен</li><li><b>5</b> — Согласен</li></ul>
        </div>
        <div id="ipl-container"></div>
        <div class="error-msg" id="ipl-error">Ответьте на вопросы, подсвеченные красным!</div>
        <div class="btn-container"><button class="btn btn-back" onclick="prevIPL()">Назад</button><button class="btn btn-success" onclick="finishSurvey()">Получить результат</button></div>
    </div>