<div class="step active" id="step-form">
        <h1>Анкета участника</h1>
        <div class="instruction">
            Здравствуйте! Вам предлагается принять участие в психологическом исследовании.<br>
            Вся информация будет использована <b>только в обобщенном виде</b>.
        </div>
        
        <div class="anon-switch">
            <input type="checkbox" id="anon_mode" onchange="toggleAnon(); saveStateToLocal();">
            <div>
                <label for="anon_mode" style="margin:0; cursor:pointer;"><b>Пройти опрос анонимно</b></label>
                <div class="anon-warning" id="anon_warning">
                    Сведения об участнике помогают понять, для каких групп людей полученные результаты характерны в большей степени. 
                    Отказ от их указания при анонимном прохождении может уменьшить точность и обобщаемость выводов исследования.
                </div>
            </div>
        </div>
