<div class="step" id="step-milman">
        <h2>2/3. Мотивация</h2>
        <div class="instruction">
            <p>Перед вами 14 утверждений, касающихся ваших жизненных стремлений и некоторых сторон вашего образа жизни. Просим вас высказать отношение к ним по каждому из 8 вариантов ответов, проставив одну из следующих оценок:</p>
            <ul><li><b>++</b> (да, согласен)</li><li><b>+</b> (пожалуй согласен)</li><li><b>=</b> (когда как, согласен в некоторой степени)</li><li><b>- / ?</b> (нет, не согласен / не знаю)</li></ul>
        </div>
        <div id="milman-container"></div>
        <div class="error-msg" id="milman-error">Ответьте на вопросы, подсвеченные красным!</div>
        <div class="btn-container"><button class="btn btn-back" onclick="prevMilman()">Назад</button><button class="btn btn-next" onclick="finishMilman()">Далее</button></div>
    </div>